@model IEnumerable<AutoStore.Models.PHIEUNHAP>


<div class="title_left">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-left top_search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
    </div>
</div>
<div class="title_right">
    <a href="#" class="pull-right" style="margin-right:5px"><i class="fa fa-chevron-right"></i> Phiếu nhập</a>
    <a href="#" class="pull-right" style="margin-right:5px"><i class="fa fa-chevron-right"></i> Hóa đơn</a>
    <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)" class="pull-right" style="margin-right:5px"><i class="fa fa-home"></i> Home </a>
</div>
<div class="row">


    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Phiếu nhập<small>| Lưu trữ dữ liệu</small></h2>
                @*<button type="button" style="margin-bottom:0px;margin-right:5px" class="btn btn-primary navbar-right">Tìm kiếm</button>*@
                <button type="button" style="margin-bottom:0px;margin-right:5px" class="btn btn-primary navbar-right" data-toggle="modal" data-target="#insertmodal">Thêm mới</button>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                    <div class="row">
                        <div class="col-sm-12">
                            <table id="datatable" class="table table-striped table-bordered dataTable no-footer jambo_table bulk_action" role="grid" aria-describedby="datatable_info">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;width:80px">STT</th>
                                        <th>Tên phiếu nhập<i class="fa fa-sort pull-right"></i></th>
                                        <th>Mã nhân viên<i class="fa fa-sort pull-right"></i></th>
                                        <th style="width: 350px;">Ngày nhập<i class="fa fa-sort pull-right"></i></th>
                                        <th>Mã nhà cung cấp<i class="fa fa-sort pull-right"></i></th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int count = 1; }
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td style="text-align:center">
                                            @count
                                            @{ count += 1;}
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TENPN)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NHANVIEN.TENNV)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NGAYNHAP)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NHACUNGCAP.TENNCC)
                                        </td>
                                        <td>
                                            <button type="button" style="margin-bottom:0px" class="btn btn-success btn-xs" onclick="javascript:DetailFunc(@item.MAPN,'@item.TENPN','@item.MANV','@item.NGAYNHAP','@item.MANCC')">Chi tiết</button>
                                            <button type="button" style="margin-bottom:0px" class="btn btn-warning btn-xs" onclick="javascript:setedit(@item.MAPN,'@item.TENPN','@item.MANV','@item.NGAYNHAP','@item.MANCC')">Sửa</button>
                                            <button type="button" style="margin-bottom:0px" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal" onclick="javascript:confirmDelete(@item.MAPN,'@item.MANV')">Xóa</button>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*------------------INSERT---------------------*@
<div class="x_content">
    <div class="modal fade bs-example-modal-lg" id="insertmodal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>

                    <h4 class="modal-title" id="myModalLabelinsert"><i class="fa  fa-chevron-right"></i>  Thêm mới phiếu nhập</h4>
                </div>
                <div class="modal-body">

                </div>
                @using (Html.BeginForm("Insert", "PhieuNhap"))
                {
                <div class="form-horizontal form-label-left" novalidate>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tenpn">
                            Tên phiếu nhập <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="tenpn" class="form-control col-md-7 col-xs-12" name="tenpn" placeholder="Tên phiếu nhập" type="text">
                        </div>
                    </div>



                    <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                         Tên nhân viên <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select name="manv" class="form-control col-md-7 col-xs-12" placeholder="Chọn nhân viên" required="required" id="manv">@Html.Action("getDataNHANVIEN", "PhieuNhap")</select>
                    </div>
                    </div>


                    <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                Ngày nhập <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class='input-group date' id="datepicker" required="required" data-date-format="dd/mm/yyyy">
                    <input type="text" name="date" id="datetime" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>


                    <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                Tên nhà cung cấp <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select name="mancc" class="form-control col-md-7 col-xs-12" placeholder="Chọn nhà cung cấp" required="required" id="mancc">
                    @Html.Action("getDataNHACUNGCAP", "PhieuNhap")
                </select>
            </div>
        </div>


                    <div class="modal-footer">
                        <button type="button" onclick="emptyvalue()" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
                        <button id="send" type="submit" class="btn btn-primary">Lưu trữ</button>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

@*--------------------------------------EDIT---------------------------------*@
<div class="x_content">
    <div class="modal fade bs-example-modal-lg" id="edit" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>

                    <h4 class="modal-title" id="myModalLabelinsert"><i class="fa  fa-chevron-right"></i>  Sửa đổi dữ liệu</h4>
                </div>
                <div class="modal-body">

                </div>
                @using (Html.BeginForm("update", "PhieuNhap", new { idpn = "6" }, FormMethod.Post, new { @id = "formupdate" }))
                {
                <div class="form-horizontal form-label-left" novalidate>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Tên phiếu nhập <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="tenpnedit" class="form-control col-md-7 col-xs-12" name="tenpn" placeholder="tên phiếu nhập" type="text">
                        </div>
                    </div>


                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Tên nhân viên <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="manv" class="form-control col-md-7 col-xs-12" placeholder="Chọn nhân viên" required="required" id="manvedit">@Html.Action("getDataNHANVIEN", "PhieuNhap")</select>
                        </div>
                    </div>


                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Ngày nhập <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class='input-group date' id="datepickeredit" required="required" data-date-format="dd/mm/yyyy">
                                <input type="text" name="date" id="datetimeedit" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>


                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Tên nhà cung cấp <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="mancc" class="form-control col-md-7 col-xs-12" placeholder="Chọn nhà cung cấp" required="required" id="manccedit">
                                @Html.Action("getDataNHACUNGCAP", "PhieuNhap")
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" onclick="emptyvalue()" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
                        <button id="send1" type="submit" class="btn btn-primary">Lưu trữ</button>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</div>


@*--------Modal confirm delete--------------*@
<div class="x_content">
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>

                    <h4 class="modal-title" id="myModalLabel"><i class="fa  fa-chevron-right"></i>  Xác nhận xóa phiếu nhập</h4>
                </div>
                <div class="modal-body">
                    <h4>Bạn có chắc chắn muốn xóa phiếu nhập <code id="lable"></code> ?</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
                    <button id="btnContinueDelete" type="submit" class="btn btn-danger">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/Content/vendors/moment/min/moment.min.js"></script>
<script src="~/Content/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link href="~/Content/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">


<script type="text/javascript">


    function confirmDelete(id, ten) {
        $('#lable').html(ten);
        $("#btnContinueDelete").click(function () {
            $.ajax({
                url: "/PhieuNhap/Delete",
                data: { 'Id': id },
                datatype: 'html',
                type: 'Get',
                success: function () {
                    console.log("xoa thanh cong");
                    location.reload();
                },
                error: function () {
                }
            });
        });
    }




    function setedit(id, name, manv, date, mancc) {
        $('#edit').modal('toggle');
        $('#tenpnedit').val(name);
        $('#manvedit').val(manv);
        $('#datetimeedit').val(date);
        $('#manccedit').val(mancc);
        $('#formupdate').attr("action", "/PhieuNhap/update?id=" + id);
    }





    function DetailFunc(id, name, manv, date, mancc) {
        $('#insert').modal('toggle');
        $('#myModalLabelinsert').html('<i class="fa  fa-chevron-right"></i>     Chi tiết phiếu nhập');
        $('#tenpn').val(name);
        $('#manv').val(manv);
        $('#datetime').val(date);
        $('#mancc').val(mancc);
        $("#tenpn").prop('disabled', true);
        $("#manv").prop('disabled', true);
        $("#datetime").prop('disabled', true);
        $("#mancc").prop('disabled', true);
    }


    function emptyvalue() {
        $('#manv').val("");
        $('#datetime').val("");
        $('#mancc').val("");
        $('#tenpn').val("");
        $("#tenpn").prop('disabled', false);
        $("#manv").prop('disabled', false);
        $("#datetime").prop('disabled', false);
        $("#mancc").prop('disabled', false);
    }


    $('#datepicker').datetimepicker({
        format: 'DD/MM/YYYY'
    });
    $('#datepickeredit').datetimepicker({
        format: 'DD/MM/YYYY'
    });

</script>
