@model IEnumerable<AutoStore.Models.SANPHAM>


<div class="title_left">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-left top_search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
    </div>
</div>
<div class="title_right">
    <a href="#" class="pull-right" style="margin-right:5px"><i class="fa fa-chevron-right"></i> Sản phẩm</a>
    <a href="#" class="pull-right" style="margin-right:5px"><i class="fa fa-chevron-right"></i> Danh mục</a>
    <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)" class="pull-right" style="margin-right:5px"><i class="fa fa-home"></i> Home </a>
</div>
<div class="row">


    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Danh mục sản phẩm<small>| Lưu trữ dữ liệu</small></h2>
                @*<button type="button" style="margin-bottom:0px;margin-right:5px" class="btn btn-primary navbar-right">Tìm kiếm</button>*@
                <button type="button" style="margin-bottom:0px;margin-right:5px" class="btn btn-primary navbar-right" data-toggle="modal" data-target="#insert">Thêm mới</button>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                    <div class="row">
                        <div class="col-sm-12">
                            <table id="datatable" class="table table-striped table-bordered dataTable no-footer jambo_table bulk_action" role="grid" aria-describedby="datatable_info">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;width:80px">STT</th>
                                        <th>Tên sản phẩm</th>
                                        <th style="width: 150px;">Mã nhà sản xuất</th>
                                        <th style="width: 100px;">Màu sắc</th>
                                        <th style="width: 100px;">Mã loại</th>
                                        <th style="width: 100px;">Đơn giá</th>
                                        <th style="width: 100px;">Số lượng</th>
                                        <th style="width: 250px;">Mô tả</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int count = 1; }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="text-align:center">
                                                @count
                                                @{ count += 1;}
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TENSP)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NHASANXUAT.TENNSX)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MAUSAC)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LOAISANPHAM.TENLOAI)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DONGIA)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SOLUONG)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MOTA)
                                            </td>
                                            <td>
                                                <button type="button" style="margin-bottom:0px" class="btn btn-success btn-xs" onclick="javascript:DetailFunc(@item.MASP,'@item.TENSP','@item.MANSX','@item.MAUSAC','@item.MALOAI','@item.MOTA','@item.DONGIA','@item.SOLUONG','@item.YEAR','@item.KM')">Chi tiết</button>
                                                <button type="button" style="margin-bottom:0px" class="btn btn-warning btn-xs" onclick="javascript:setedit(@item.MASP,'@item.TENSP','@item.MANSX','@item.MAUSAC','@item.MALOAI','@item.MOTA','@item.DONGIA','@item.SOLUONG','@item.YEAR','@item.KM')">Sửa</button>
                                                <button type="button" style="margin-bottom:0px" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal" onclick="javascript:confirmDelete(@item.MASP,'@item.TENSP')">Xóa</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*------------------INSERT---------------------*@
<div class="x_content">
    <div class="modal fade bs-example-modal-lg" id="insert" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>

                    <h4 class="modal-title" id="myModalLabelinsert"><i class="fa  fa-chevron-right"></i>  Thêm mới sản phẩm</h4>
                </div>
                <div class="modal-body">

                </div>
                @using (Html.BeginForm("Insert", "SanPham"))
                {
                    <div class="form-horizontal form-label-left" novalidate>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tensp">
                                Tên sản phẩm <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="tensp" class="form-control col-md-7 col-xs-12" name="tensp" placeholder="Tên sản phẩm" type="text">
                            </div>
                        </div>



                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Tên nhà sản xuất <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select name="mansx" class="form-control col-md-7 col-xs-12" placeholder="Chọn nhân viên" required="required" id="mansx">@Html.Action("getDataNHASANXUAT", "SanPham")</select>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tensp">
                                Màu sắc <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="mausac" class="form-control col-md-7 col-xs-12" name="mausac" placeholder="màu sản phẩm" type="text">
                            </div>
                        </div>


                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Tên loại sản phẩm <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select name="maloai" class="form-control col-md-7 col-xs-12" placeholder="Chọn nhân viên" required="required" id="maloai">@Html.Action("getDataLOAISANPHAM", "SanPham")</select>
                            </div>
                        </div>


                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                                Mô tả <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea id="mota" placeholder="mô tả" required="required" name="mota" class="form-control col-md-7 col-xs-12"></textarea>
                            </div>
                        </div>


                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tensp">
                                Đơn giá <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="dongia" class="form-control col-md-7 col-xs-12" name="dongia" placeholder="đơn giá" type="text">
                            </div>
                        </div>


                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tensp">
                                Số lượng <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="soluong" class="form-control col-md-7 col-xs-12" name="soluong" placeholder="số lượng" type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tensp">
                                Năm <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="nam" class="form-control col-md-7 col-xs-12" name="nam" placeholder="năm sản xuất" type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tensp">
                                Số KM <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="km" class="form-control col-md-7 col-xs-12" name="km" placeholder="số km" type="text">
                            </div>
                        </div>


                        <div class="modal-footer">
                            <button type="button" onclick="emptyvalue()" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
                            <button id="send" type="submit" class="btn btn-primary">Lưu trữ</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@*--------------------------------------EDIT---------------------------------*@
<div class="x_content">
    <div class="modal fade bs-example-modal-lg" id="edit" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>

                    <h4 class="modal-title" id="myModalLabelinsert"><i class="fa  fa-chevron-right"></i>  Sửa đổi dữ liệu</h4>
                </div>
                <div class="modal-body">

                </div>
                @using (Html.BeginForm("update", "SanPham", new { idpn = "6" }, FormMethod.Post, new { @id = "formupdate" }))
                {
                <div class="form-horizontal form-label-left" novalidate>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tensp">
                            Tên sản phẩm <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="tenspedit" class="form-control col-md-7 col-xs-12" name="tensp" placeholder="Tên sản phẩm" type="text">
                        </div>
                    </div>



                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Tên nhà sản xuất <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="mansx" class="form-control col-md-7 col-xs-12" placeholder="Chọn nhân viên" required="required" id="mansxedit">@Html.Action("getDataNHASANXUAT", "SanPham")</select>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tensp">
                            Màu sắc <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="mausacedit" class="form-control col-md-7 col-xs-12" name="mausac" placeholder="màu sản phẩm" type="text">
                        </div>
                    </div>


                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Tên loại sản phẩm <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="maloai" class="form-control col-md-7 col-xs-12" placeholder="Chọn nhân viên" required="required" id="maloaiedit">@Html.Action("getDataLOAISANPHAM", "SanPham")</select>
                        </div>
                    </div>


                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                            Mô tả <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea id="motaedit" placeholder="mô tả" required="required" name="mota" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                    </div>


                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tensp">
                            Đơn giá <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="dongiaedit" class="form-control col-md-7 col-xs-12" name="dongia" placeholder="đơn giá" type="text">
                        </div>
                    </div>


                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tensp">
                            Số lượng <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="soluongedit" class="form-control col-md-7 col-xs-12" name="soluong" placeholder="số lượng" type="text">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tensp">
                            Năm <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="namedit" class="form-control col-md-7 col-xs-12" name="nam" placeholder="năm sản xuất" type="text">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tensp">
                            Số KM <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="kmedit" class="form-control col-md-7 col-xs-12" name="km" placeholder="số km" type="text">
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" onclick="emptyvalue()" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
                        <button id="send" type="submit" class="btn btn-primary">Lưu trữ</button>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</div>


@*--------Modal confirm delete--------------*@
<div class="x_content">
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>

                    <h4 class="modal-title" id="myModalLabel"><i class="fa  fa-chevron-right"></i>  Xác nhận xóa sản phẩm</h4>
                </div>
                <div class="modal-body">
                    <h4>Bạn có chắc chắn muốn xóa sản phẩm <code id="lable"></code> ?</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
                    <button id="btnContinueDelete" type="submit" class="btn btn-danger">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/Content/vendors/moment/min/moment.min.js"></script>
<script src="~/Content/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link href="~/Content/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">


<script type="text/javascript">


    function confirmDelete(id, ten) {
        $('#lable').html(ten);
        $("#btnContinueDelete").click(function () {
            $.ajax({
                url: "/SanPham/Delete",
                data: { 'Id': id },
                datatype: 'html',
                type: 'Get',
                success: function () {
                    console.log("xoa thanh cong");
                    location.reload();
                },
                error: function () {
                }
            });
        });
    }




    function setedit(id, name, mansx,mausac,maloai, mota, dongia,soluong,year,km) {
        $('#edit').modal('toggle');
        $('#tenspedit').val(name);
        $('#mansxedit').val(mansx);
        $('#mausacedit').val(mausac);
        $('#maloaiedit').val(maloai);
        $('#motaedit').val(mota);
        $('#dongiaedit').val(dongia);
        $('#soluongedit').val(soluong);
        $('#namedit').val(year);
        $('#kmedit').val(km);
        $('#formupdate').attr("action", "/SanPham/update?id=" + id);
    }





    function DetailFunc(id, name, mansx, mausac, maloai, mota, dongia, soluong, year,  km) {
        $('#insert').modal('toggle');
        $('#myModalLabelinsert').html('<i class="fa  fa-chevron-right"></i>     Chi tiết sản phẩm');
        $('#tensp').val(name);
        $('#mansx').val(mansx);
        $('#mausac').val(mausac);
        $('#maloai').val(maloai);
        $('#mota').val(mota);
        $('#dongia').val(dongia);
        $('#soluong').val(soluong);
        $('#nam').val(year);
        $('#km').val(km);
        $("#tensp").prop('disabled', true);
        $("#mansx").prop('disabled', true);
        $("#mausac").prop('disabled', true);
        $("#maloai").prop('disabled', true);
        $("#mota").prop('disabled', true);
        $("#dongia").prop('disabled', true);
        $("#soluong").prop('disabled', true);
        $("#nam").prop('disabled', true);
        $("#km").prop('disabled', true);
    }


    function emptyvalue() {
        $('#tensp').val("");
        $('#mansx').val("");
        $('#mausac').val("");
        $('#maloai').val("");
        $('#mota').val("");
        $('#dongia').val("");
        $('#soluong').val("");
        $('#nam').val("");
        $('#km').val("");
        $("#tensp").prop('disabled', false);
        $("#mansx").prop('disabled', false);
        $("#mausac").prop('disabled', false);
        $("#maloai").prop('disabled', false);
        $("#mota").prop('disabled', false);
        $("#dongia").prop('disabled', false);
        $("#soluong").prop('disabled', false);
        $("#nam").prop('disabled', false);
        $("#km").prop('disabled', false);
    }

</script>
