<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" Content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" Content="IE=edge">
    <meta name="viewport" Content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/ClientVender/images/logo/fav.png" />
    <title>Duong Nguyen AUTO | </title>

    <!-- Bootstrap -->
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- jQuery custom Content scroller -->
    <link href="~/Content/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet">

</head>

<body class="nav-md footer_fixed menu_fixed">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Welcome" }, Request.Url.Scheme)" class="site_title"><i class="fa fa-renren"></i> <span>Auto Store</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Content/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            
                                @if (Session["UserID"] != null)
                                { <h2>
                                @Session["UserName"].ToString()
                                </h2>
                                }

                            @*@Html.Action("getUserInfor", "LoginAdmin")*@
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)"><i class="fa fa-home"></i>   Home <span ></span></a>
                                    
                                </li>
                                <li>
                                    <a><i class="fa fa-list-ul"></i> Danh mục <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "NhaSanXuat" }, Request.Url.Scheme)">Nhà sản xuất</a></li>
                                        <li><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "NhaCungCap" }, Request.Url.Scheme)">Nhà cung cấp</a></li>
                                        <li><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "LoaiSanPham" }, Request.Url.Scheme)">Loại sản phẩm</a></li>
                                        <li><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "SanPham" }, Request.Url.Scheme)">Sản phẩm</a></li>
                                    </ul>
                                    
                                </li>
                                <li>
                                    <a><i class="fa fa-file-text"></i> Hóa đơn <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index1", null, new { area = string.Empty, controller = "PhieuNhap" }, Request.Url.Scheme)">Phiếu nhập</a></li>
                                        <li><a href="@Url.Action("Index1", null, new { area = string.Empty, controller = "PhieuXuat" }, Request.Url.Scheme)">Phiếu Xuất</a></li>
                                        @*<li><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "ChiTietPhieuNhap" }, Request.Url.Scheme)">Chi tiết nhập</a></li>*@
                                        @*<li><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "ChiTietPhieuXuat" }, Request.Url.Scheme)">Chi tiết xuất</a></li>*@

                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-users"></i> Người dùng <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "KhachHang" }, Request.Url.Scheme)">Khách hàng</a></li>
                                        <li><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "NhanVien" }, Request.Url.Scheme)">Nhân viên</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="@Url.Action("Logout", null, new { area = string.Empty, controller = "LoginAdmin" }, Request.Url.Scheme)">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">

                    <nav>

                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <div class="navbar-text ">
                            <h3 style="margin-top:0px;margin-bottom:0px">Auto Service management</h3>

                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/images/img.jpg" alt="">@if (Session["UserID"] != null)
                                    { <span>
                                        @Session["UserName"].ToString()
                                    </span>
                                    }
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a href="@Url.Action("Logout", null, new { area = string.Empty, controller = "LoginAdmin" }, Request.Url.Scheme)"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
            <!-- /top navigation -->
            <!-- page Content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        @RenderBody()

                    </div>
                </div>
            </div>
            <!-- /page Content -->
            <!-- footer Content -->
            <footer>
                <div class="pull-right">
                    Auto Store system management Power by <a href="https://facebook.com/ngtr.duong">Duong Nguyen  |</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer Content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/vendors/nprogress/nprogress.js"></script>
    <!-- jQuery custom Content scroller -->
    <script src="~/Content/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Content/build/js/custom.min.js"></script>


    <script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Content/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Content/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Content/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Content/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Content/vendors/validator/validator.js"></script>
    

</body>
</html>