@model IEnumerable<AutoStore.Models.NHANVIEN>

<div class="title_left">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-left top_search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
    </div>
</div>
<div class="title_right">
    <a href="#" class="pull-right" style="margin-right:5px"><i class="fa fa-chevron-right"></i> Nhân viên</a>
    <a href="#" class="pull-right" style="margin-right:5px"><i class="fa fa-chevron-right"></i> Người dùng</a>
    <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)" class="pull-right" style="margin-right:5px"><i class="fa fa-home"></i> Home </a>
</div>

<div class="row">


    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Nhân viên<small>| Lưu trữ dữ liệu</small></h2>
                @*<button type="button" style="margin-bottom:0px;margin-right:5px" class="btn btn-primary navbar-right">Tìm kiếm</button>*@
                <button type="button" style="margin-bottom:0px;margin-right:5px" class="btn btn-primary navbar-right" data-toggle="modal" data-target="#insert">Thêm mới</button>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                    <div class="row">
                        <div class="col-sm-12">
                            <table id="datatable" class="table table-striped table-bordered dataTable no-footer jambo_table bulk_action" role="grid" aria-describedby="datatable_info">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;width:80px">STT</th>
                                        <th>Tên nhân viên</th>
                                        <th style="width: 100px;">Giới tính</th>
                                        <th style="width: 200px;">Số điện thoại</th>
                                        <th style="width: 250px;">Địa chỉ</th>
                                        <th style="width: 250px;">Tên đăng nhập</th>
                                        <th style="width: 100px;">Mật khẩu</th>
                                        <th style="width: 100px;">Quyền</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int count = 1; }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="text-align:center">
                                                @count
                                                @{ count += 1;}
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TENNV)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.GIOITINH)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DIENTHOAI)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DIACHI)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.USERNAME)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PASSWORD)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PHANQUYEN)
                                            </td>
                                            <td>
                                                <button type="button" style="margin-bottom:0px" class="btn btn-success btn-xs" onclick="javascript:DetailFunc(@item.MANV,'@item.TENNV','@item.GIOITINH','@item.DIENTHOAI','@item.DIACHI','@item.USERNAME','@item.PASSWORD','@item.PHANQUYEN')">Chi tiết</button>
                                                <button type="button" style="margin-bottom:0px" class="btn btn-warning btn-xs" onclick="javascript:setedit(@item.MANV,'@item.TENNV','@item.GIOITINH','@item.DIENTHOAI','@item.DIACHI','@item.USERNAME','@item.PASSWORD','@item.PHANQUYEN')">Sửa</button>
                                                <button type="button" style="margin-bottom:0px" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal" onclick="javascript:confirmDelete(@item.MANV, '@item.TENNV')">Xóa</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*------------------INSERT---------------------*@
<div class="x_content">
    <div class="modal fade bs-example-modal-lg" id="insert" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>

                    <h4 class="modal-title" id="myModalLabelinsert"><i class="fa  fa-chevron-right"></i>  Thêm mới nhân viên</h4>
                </div>
                <div class="modal-body">

                </div>
                @using (Html.BeginForm("Insert", "NhanVien"))
                {
                <div class="form-horizontal form-label-left" novalidate>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Tên nhân viên <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="Họ và tên" required="required" type="text">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sex">
                            Giới tính <span class="required">*</span>
                        </label>
                        @*<div class="col-md-6 col-sm-6 col-xs-12">
                <input id="sex" class="form-control col-md-7 col-xs-12" name="sex" placeholder="giới tính" required="required" type="text">
            </div>*@
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="radio">
                                <label>
                                    <input id="checknam" name="sex" value="nam" type="radio" class="flat" required="required" checked="checked"> Nam
                                </label>
                                <label>
                                    <input id="checknu" name="sex" value="nu" type="radio" class="flat"> Nữ
                                </label>
                            </div>
                        </div>
                    </div>

                    @*<input id="checknam"  name="sex" value="nam" type="radio" class="flat iradio_flat-green checked" required="required"> Nam*@
                    
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">
                            Số điện thoại <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="tel" id="phone" name="phone" placeholder="09********* etc..." required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                            Địa chỉ <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea id="textarea" placeholder="Ha noi" required="required" name="adress" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">
                            Tên đăng nhập <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="username" name="username" placeholder="tên đăng nhập" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">
                            Mật khẩu <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="password" name="password" placeholder="mật khẩu" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="quyen">
                            Quyền <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="quyen" name="quyen" placeholder="phần quyền" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" onclick="emptyvalue()" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
                        <button id="send" type="submit" class="btn btn-primary">Lưu trữ</button>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

@*--------------------------------------EDIT---------------------------------*@
<div class="x_content">
    <div class="modal fade bs-example-modal-lg" id="edit" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>

                    <h4 class="modal-title" id="myModalLabelinsert"><i class="fa  fa-chevron-right"></i>  Sửa đổi dữ liệu</h4>
                </div>
                <div class="modal-body">

                </div>
                @using (Html.BeginForm("update", "NhanVien", new { idnv = "6" }, FormMethod.Post, new { @id = "formupdate" }))
                {
                <div class="form-horizontal form-label-left" novalidate>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Tên nhân viên <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="nameedit" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="Họ và tên" required="required" type="text">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sex">
                            Giới tính <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="radio">
                                <label>
                                    <input id="checknamedit" name="sex" value="nam" type="radio" class="flat" required="required"> Nam
                                </label>
                                <label>
                                    <input id="checknuedit" name="sex" value="nu" type="radio" class="flat"> Nữ
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">
                            Số điện thoại <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="tel" id="phoneedit" name="phone" placeholder="09********* etc..." required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                            Địa chỉ <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea id="textareaedit" placeholder="Ha noi" required="required" name="adress" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">
                            Tên đăng nhập <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="usernameedit" name="username" placeholder="tên đăng nhập" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">
                            Mật khẩu <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="passwordedit" name="password" placeholder="mật khẩu" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="quyen">
                            Quyền <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="quyenedit" name="quyen" placeholder="phần quyền" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" onclick="emptyvalue()" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
                        <button id="send1" type="submit" class="btn btn-primary">Lưu trữ</button>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</div>


@*--------Modal confirm delete--------------*@
<div class="x_content">
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>

                    <h4 class="modal-title" id="myModalLabel"><i class="fa  fa-chevron-right"></i>  Xác nhận xóa nhân viên</h4>
                </div>
                <div class="modal-body">
                    <h4>Bạn có chắc chắn muốn xóa nhân viên <code id="lable"></code> ?</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
                    <button id="btnContinueDelete" type="submit" class="btn btn-danger">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">


    function confirmDelete(id, ten) {
        $('#lable').html(ten);
        $("#btnContinueDelete").click(function () {
            $.ajax({
                url: "/NhanVien/Delete",
                data: { 'Id': id },
                datatype: 'html',
                type: 'Get',
                success: function () {
                    console.log("xoa thanh cong");
                    location.reload();
                },
                error: function () {
                }
            });
        });
    }



   
    function setedit(id, ten, gioitinh,phone,adress,username,password,quyen) {
        $('#edit').modal('toggle');
        $('#nameedit').val(ten);

        $('#checknamedit').prop('checked', gioitinh == 'nam');
        $('#checknuedit').prop('checked', gioitinh == 'nu');

        $('#phoneedit').val(phone);
        $('#textareaedit').val(adress);
        $('#usernameedit').val(username);
        $('#passwordedit').val(password);
        $('#quyenedit').val(quyen);
        $('#formupdate').attr("action", "/NhanVien/update?id=" + id);
    }





    function DetailFunc(id, ten, gioitinh, phone, adress, username, password, quyen) {
        $('#insert').modal('toggle');
        $('#myModalLabelinsert').html('<i class="fa  fa-chevron-right"></i>     Chi tiết nhân viên');
        $('#name').val(ten);

        $('#checknam').prop('checked', gioitinh == 'nam');
        $('#checknu').prop('checked', gioitinh == 'nu');

        $('#phone').val(phone);
        $('#textarea').val(adress);
        $('#username').val(username);
        $('#password').val(password);
        $('#quyen').val(quyen);
        $("#name").prop('disabled', true);
        $("#checknam").prop('disabled', true);
        $("#checknu").prop('disabled', true);
        $("#phone").prop('disabled', true);
        $("#username").prop('disabled', true);
        $("#textarea").prop('disabled', true);
        $("#password").prop('disabled', true);
        $("#quyen").prop('disabled', true);
    }


    function emptyvalue() {
        $('#name').val("");
        $('#sex').val("");
        $('#phone').val("");
        $('#username').val("");
        $('#textarea').val("");
        $('#password').val("");
        $('#quyen').val("");
        $("#send").prop('disabled', false);
        $("#name").prop('disabled', false);
        $("#checknam").prop("checked", false);
        $("#checknu").prop("checked", false);
        $("#phone").prop('disabled', false);
        $("#username").prop('disabled', false);
        $("#textarea").prop('disabled', false);
        $("#password").prop('disabled', false);
        $("#quyen").prop('disabled', false);
    }


</script>
