@model IEnumerable<AutoStore.Models.SANPHAM>
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}




<section class="b-pageHeader">
    <div class="container">
        <h1 class="wow zoomInLeft" data-wow-delay="0.2s">Auto Listings</h1>
        <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.2s">
            <h3>Get the best car you want!</h3>
        </div>
    </div>
</section><!--b-pageHeader-->

<div class="b-breadCumbs s-shadow">
    <div class="container wow zoomInUp" data-wow-delay="0.2s">
        <a href="home.html" class="b-breadCumbs__page">Home</a><span class="fa fa-angle-right"></span><a href="listTable.html" class="b-breadCumbs__page m-active">Search Results</a>
    </div>
</div><!--b-breadCumbs-->

<div class="b-infoBar">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="b-infoBar__compare wow zoomInUp" data-wow-delay="0.2s">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle b-infoBar__compare-item" data-toggle='dropdown'><span class="fa fa-clock-o"></span>RECENTLY VIEWED<span class="fa fa-caret-down"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="detail.html">Item</a></li>
                            <li><a href="detail.html">Item</a></li>
                            <li><a href="detail.html">Item</a></li>
                            <li><a href="detail.html">Item</a></li>
                        </ul>
                    </div>
                    <a href="compare.html" class="b-infoBar__compare-item"><span class="fa fa-compress"></span>COMPARE VEHICLES: 2</a>
                </div>
            </div>
            <div class="col-lg-8 col-xs-12">
                <div class="b-infoBar__select wow zoomInUp" data-wow-delay="0.2s">
                    <form method="post" action="/">
                        <div class="b-infoBar__select-one">
                            <span class="b-infoBar__select-one-title">SELECT VIEW</span>
                            <a href="listingsTwo.html" class="m-list m-active"><span class="fa fa-list"></span></a>
                            <a href="listTableTwo.html" class="m-table"><span class="fa fa-table"></span></a>
                        </div>
                        <div class="b-infoBar__select-one">
                            <span class="b-infoBar__select-one-title">SHOW ON PAGE</span>
                            <select name="select1" class="m-select">
                                <option value="" selected="">10 items</option>
                            </select>
                            <span class="fa fa-caret-down"></span>
                        </div>
                        <div class="b-infoBar__select-one">
                            <span class="b-infoBar__select-one-title">SORT BY</span>
                            <select name="select2" class="m-select">
                                <option value="" selected="">Last Added</option>
                            </select>
                            <span class="fa fa-caret-down"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!--b-infoBar-->

<div class="b-items">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-8 col-xs-12">
                <div class="row">
                    @{ string checkid = "check";}
                    @foreach (var item in Model)
                    {
                       { checkid = checkid + "" + item.MASP;}
                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <div class="b-items__cell wow zoomInUp" data-wow-delay="0.2s">
                                <div class="b-items__cars-one-img" >
                                    <img style="margin-top:50px" class='img-responsive' src="@item.HINHANH" alt='@item.TENSP' />
                                    <a data-toggle="modal" data-target="#myModal" href="#" class="b-items__cars-one-img-video"><span class="fa fa-film"></span>VIDEO</a>
                                    <span class="b-items__cars-one-img-type m-premium">PREMIUM</span>
                                    <form action="/GioHang/AddToCart?idsp=@item.MASP" method="post">
                                     
                                       
                                    </form>
                                </div>
                                <div class="b-items__cell-info" style="height:278px;position: absolute;bottom:90px;padding-left:5px">
                                    <div  class="s-lineDownLeft b-items__cell-info-title" style="width:240px">
                                        <h2>@item.TENSP</h2>
                                    </div>
                                    <p>In a pickup market gone fancy, the Silverado sticks to its basic-truck recipe. The steering is accurate, and the ...</p>
                                    <div class="row m-smallPadding">
                                        <div class="col-xs-6">
                                            <ul>
                                                <li>Registered @item.YEAR</li>
                                                <li>Used</li>
                                                <li>8-Speed Automatic </li>
                                                <li>Petrol</li>
                                            </ul>
                                            <h5 class="b-items__cell-info-price">@Html.DisplayFor(Model => item.DONGIA)</h5>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="b-items__cell-info-km">
                                               
                                                <button id="@item.MASP" class="btn btn-danger" type="reset" onclick="addCart(@item.MASP)">
                                                    <i class="fa fa-shopping-cart"></i> Add 
                                                </button>
                                                
                                                <p>@item.KM KM</p>

                                            </div>
                                            <a href="@Url.Action("Index", "Detail",new {idsp=@item.MASP })" class="btn m-btn">VIEW DETAILS<span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    
                    

                </div>
                <div class="b-items__pagination">
                    <div class="b-items__pagination-main wow zoomInUp" data-wow-delay="0.2s">
                        <a href="#" class="m-left"><span class="fa fa-angle-left"></span></a>
                        <span class="m-active"><a href="#">1</a></span>
                        <span><a href="#">2</a></span>
                        <span><a href="#">3</a></span>
                        <span><a href="#">4</a></span>
                        <a href="#" class="m-right"><span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-12">
                <aside class="b-items__aside">
                    <h2 class="s-title wow zoomInUp" data-wow-delay="0.2s">REFINE YOUR SEARCH</h2>
                    <div class="b-items__aside-main wow zoomInUp" data-wow-delay="0.2s">
                        <form>
                            <div class="b-items__aside-main-body">
                                <div class="b-items__aside-main-body-item">
                                    <label>SELECT A MAKE</label>
                                    <div>
                                        <select name="select1" class="m-select">
                                            <option value="" selected="">Any Make</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-items__aside-main-body-item">
                                    <label>SELECT A MODEL</label>
                                    <div>
                                        <select name="select1" class="m-select">
                                            <option value="" selected="">Any Make</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-items__aside-main-body-item">
                                    <label>PRICE RANGE</label>
                                    <div class="slider"></div>
                                    <input type="hidden" name="min" value="100" class="j-min" />
                                    <input type="hidden" name="max" value="1000" class="j-max" />
                                </div>
                                <div class="b-items__aside-main-body-item">
                                    <label>VEHICLE TYPE</label>
                                    <div>
                                        <select name="select1" class="m-select">
                                            <option value="" selected="">Any Type</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-items__aside-main-body-item">
                                    <label>VEHICLE STATUS</label>
                                    <div>
                                        <select name="select1" class="m-select">
                                            <option value="" selected="">Any Status</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-items__aside-main-body-item">
                                    <label>FUEL TYPE</label>
                                    <div>
                                        <select name="select1" class="m-select">media/
                                            <option value="" selected="">All Fuel Types</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                            </div>
                            <footer class="b-items__aside-main-footer">
                                <button type="submit" class="btn m-btn">FILTER VEHICLES<span class="fa fa-angle-right"></span></button><br />
                                <a href="">RESET ALL FILTERS</a>
                            </footer>
                        </form>
                    </div>
                    <div class="b-items__aside-sell wow zoomInUp" data-wow-delay="0.2s">
                        <div class="b-items__aside-sell-img">
                            <h3>SELL YOUR CAR</h3>
                        </div>
                        <div class="b-items__aside-sell-info">
                            <p>
                                Nam tellus enimds eleifend dignis lsim
                                biben edum tristique sed metus fusce
                                Maecenas lobortis.
                            </p>
                            <a href="submit1.html" class="btn m-btn">REGISTER NOW<span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div><!--b-items-->
@*<script src="~/Content/ClientVender/js/jquery-1.11.3.min.js"></script>
<script src="~/Content/ClientVender/assets/bxslider/jquery.bxslider.js"></script>
<script src="~/Content/ClientVender/assets/owl-carousel/owl.carousel.min.js"></script>
<script src="~/Content/ClientVender/assets/slider/jquery.ui-slider.js"></script>*@
<input type="hidden" id="hdnSession" data-value="@Request.RequestContext.HttpContext.Session["ClientUserID"]" />
<script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    function addCart(id) {
        var sessionValue = $("#hdnSession").data('value');
        if (sessionValue != "")
      {
          $.ajax({
              url: "/GioHang/AddToCart",
              data: { 'idsp': id },
              datatype: 'html',
              type: 'Get',
              success: function () {
                  //showcart();
                  //$('#cartmodalbody').load('/GioHang/cart');
                  console.log("xoa thanh cong");
                  showcart();
              },
              error: function () {
              }
          });
      }
      else {
          $('#LoginModal').modal('show');
      }
    }

    function showcart() {
        $.ajax({
            url: "/GioHang/cart",
            
            type: 'Get',
            success: function (cart) {
                $("#cartmodalbody").html(cart);
                console.log("render cart thanh cong");

            },
            error: function () {
            }
        });
    }
</script>